@using ProductInventoryManagement.Models

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<Product>()
    .ID("product-grid")
    .ShowBorders(true)
    .Editing(_ =>
    {
        _.Mode(GridEditMode.Form);
        _.RefreshMode(GridEditRefreshMode.Reshape);
        _.UseIcons(true);
        _.Texts(_ => _.AddRow("Add Product"));
        _.AllowUpdating(true);
        _.AllowAdding(true);
        _.AllowDeleting(true);
    })
    .Toolbar(toolbar =>
    {
        toolbar.Items(items =>
        {
            items.Add()
            .Name("addRowButton")
            .ShowText(ToolbarItemShowTextMode.Always);
        }
        );
    })
    .DataSource(d => d.Mvc().Controller("ProductInventoryWebAPI")
        .LoadAction("GetProduct")
        .InsertAction("PostProduct")
        .UpdateAction("PutProduct")
        .DeleteAction("DeleteProduct")
        .Key("ProductID"))
    .Columns(columns => {
        columns.AddFor(m => m.Name);
        columns.AddFor(m => m.Description);
        columns.AddFor(m => m.Price);
        columns.AddFor(m => m.Quantity);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
)